{% extends 'base.html.twig' %}

{% block title %}Votre Panier!{% endblock %}

{% block body %}
    <h1>Panier</h1>

   
    {% if produits | length > 0 %}
    <div class="container">
    <table class="table table-hover mt-4">
    <thead>
        <tr>
            <th class="text-center">Produit</th>
            <th class="text-center">Catégorie</th>
            <th class="text-center">Prix</th>
            <th class="text-center">Total</th>
            <th class="text-center">Quantité</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for produit in produits %}
        <tr>
            <td class="text-center">{{produit.produit.name}}</td>
            <td class="text-center">{{produit.produit.category.name}}</td>
            <td class="text-center">{{produit.produit.price}} €</td>
            <td class="text-center">{{produit.produit.price * produit.quantite}} €</td>
            <td class="text-center">
                <a href="{{ path('item_less',{'id': produit.produit.id}) }}" class="btn btn-warning"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
</svg></a>
                {{produit.quantite}}
                <a href="{{ path('item_more',{'id': produit.produit.id}) }}" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg></a>
            </td>
            <td class="text-center">
                <a href="{{ path('item_del',{'id': produit.produit.id}) }}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a>
            </td>
        </tr>
            
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-right"></td>
            <td class="text-center">Total : </td>
            <td class="text-center">{{total}} €</td>
        </tr>
    </tfoot>
    </table>
        <a class="btn btn-primary" href="#">Commander</a>   

    </div>

    {% else %}
        <h2>Votre Panier est vide</h2>
        <h3><a href="{{path('prods') }}">Aller a la liste des produits</a></h3>    
    {% endif %}

{% endblock %}
