{% extends 'base.html.twig' %}

{% block title %}Votre Panier!{% endblock %}

{% block body %}
    <h1>Panier</h1>

   
    {% if produits | length > 0 %}
    <div class="container">
    <table class="table table-hover mt-4">
    <thead>
        <tr>
            <th class="text-center">Produit</th>
            <th class="text-center">Catégorie</th>
            <th class="text-center">Prix</th>
            <th class="text-center">Total</th>
            <th class="text-center">Quantité</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        {% for produit in produits %}
        <tr>
            <td class="text-center">{{produit.produit.name}}</td>
            <td class="text-center">{{produit.produit.category.name}}</td>
            <td class="text-center">{{produit.produit.price}} €</td>
            <td class="text-center">{{produit.produit.price * produit.quantite}} €</td>
            <td class="text-center">
                <a href="{{ path('item_less',{'id': produit.produit.id}) }}" class="btn btn-warning">-</a>
                {{produit.quantite}}
                <a href="{{ path('item_more',{'id': produit.produit.id}) }}" class="btn btn-success">+</a>
            </td>
            <td class="text-center">
                <a href="{{ path('item_del',{'id': produit.produit.id}) }}" class="btn btn-danger">supprimer</a>
            </td>
        </tr>
            
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-right"></td>
            <td class="text-center">Total : </td>
            <td class="text-center">{{total}} €</td>
        </tr>
    </tfoot>
    </table>
    </div>

    {% else %}
        <h2>Votre Panier est vide</h2>
        <h3><a href="{{path('prods') }}">Aller a la liste des produits</a></h3>    
    {% endif %}

{% endblock %}
