{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <h1 class="test">Catégories</h1>

<div class="container">
    {% if app.user %}      
        <h4>Bienvenue {{app.user.username}}</h4>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th class="text-center"scope="col">#</th>
                <th class="text-center"scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>

        {% for categorie in categories %}
            <tr>
                <td class="text-center">{{categorie.id}}</td>
                <td class="text-center">{{categorie.name}}</td>
                <td class="text-center"><a class="btn btn-warning" href="{{path('cat-edit',{'id' : categorie.id}) }}">Modifier le Produit</a> <a class="btn btn-danger" href="{{path('cat-delete',{'id' : categorie.id}) }}">Supprimer le Produit</a></td>
            </tr>  
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{{path('cat-new') }}">Ajouter une nouvelle catégorie</a>
    </div>
{% endblock %}

