{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1 class="test">Produits</h1>

<div class="container">
    {% if app.user %}      
        <h4>Bienvenue {{app.user.username}}</h4>
    {% else %}
        <h4>Anonymous</h4>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center"scope="col">Nom</th>
                <th class="text-center"scope="col">Categorie</th>
                <th class="text-center"scope="col">Quantite</th>
                <th class="text-center" scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>

        {% for produit in produits %}
            <tr>
                <td class="text-center">{{produit.id}}</td>
                <td class="text-center">{{produit.name}}</td>
                <td class="text-center">{{produit.category.name}}</td>
                <td class="text-center">{{produit.quantity}}</td>
                <td class="text-center">{{produit.price}}</td>

                {% if is_granted('ROLE_ADMIN') %}
                        <td class="text-center"><a class="btn btn-warning" href="{{path('prod-edit',{'id' : produit.id}) }}">Modifier le Produit</a> <a class="btn btn-danger" href="{{path('prod-delete',{'id' : produit.id}) }}">Supprimer le Produit</a></td>
                    </tr>
                {% else %}    
                        <td class="text-center"><a class="btn btn-success" href="{{path('cart_add',{'id' : produit.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg></a></td>
                    </tr>  
                {% endif %}
        {% endfor %}
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{path('prod-new') }}">Ajouter un nouveau produit</a>
    {% else %}
        <a class="btn btn-primary" href="{{path('cart_view') }}">Aller au Panier</a>
    {% endif %}
    </div>
{% endblock %}
